
@import url(//db.onlinewebfonts.com/c/369c277b77f7dd78a7385446bc047a18?family=Copyright+Klim+Type+Foundry);

body {
  font-family: 'pitch';
  min-height: 100vh;
}

.header {
  padding: 5%;
  display: grid;
}

.nav {
  list-style-type: none;
  display: flex;
  padding-left: 6vw;
}

.primary {
  color: black;
  font-size: xx-large;
}

.secondary {
  color:grey;
  font-size: medium;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

a {
  padding: 8px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline blue;
  text-transform: uppercase;
}
